@model Tech_Forum.Post_Table

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<div id="homeimage" class="jumbotron" style="background-color:black">
    <h1>Welcome to <strong>Tech Forum</strong></h1>
    <p>A place where ideas collide!</p>
</div>
