@using Tech_Forum.Models
@model List<QuestionBank>
@{
    ViewBag.Title = "TakeTest";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  
   

</style>
<div class="jumbotron text-center" style="background-color: #5cb85c;border-color: #4cae4c;">
    <h2><strong>Time For Test</strong></h2>
</div>
<hr />
<form action="TakeTest" class="form-horizontal">
   
         <div class="form-group">
       
             <div class="row" style="margin-left:15px">

                 @if (Model != null)
                 {
                     <div class="col-md-1">
                         <label class="control-label">Domain</label>
                     </div>
                     <div class="col-md-3">
                         <select name="domain" onchange="this.form.submit()" class="form-control">

                             @foreach (QuestionBank q in Model)
                             {
                                 if (q.domainlist != null)
                                 {
                                     <option value="@q.domainlist">@q.domainlist</option>
                                 }
                             }


                         </select>
                     </div>


                     <div class="col-md-1"></div>

                 }




                 @if (Model != null)
                 {
                     List<QuestionBank> qu = new List<QuestionBank>();
                     qu = Model;

                     <div class="col-md-1" style="margin-right:25px">
                         <label class="control-label">Technology</label>
                     </div>
                     <div class="col-md-3">
                         <select name="technology" class="form-control">
                             @foreach (QuestionBank q in Model)
                             {
                                 if (q.techlist != null)
                                 {
                                     <option value="@q.techlist">@q.techlist</option>
                                 }
                             }

                         </select>
                     </div>
                     <div class="col-md-1"></div>
                     <div class="col-md-2" style="margin-left:60px">
                         <input type="submit" class="btn btn-default btn-primary" name="submittechnology" value="start test">
                     </div>

                 }
             </div>
    </div>

</form>















